{{ with $.Page.Params.images }}
  {{ if reflect.IsSlice . }}
    {{ $index := 0 }}
    {{ with $.Get 0 }}
      {{ $index = . | int }}
    {{ end }}
    {{ with index . $index }}
      {{ with $image := $.Page.Resources.GetMatch . }}
        {{ $title := "" }}
        {{ with $.Get 1 }}
          {{ $title = . }}
        {{ else }}
          {{ $title = $.Page.Title }}
        {{ end }}
        <div class="row d-flex justify-content-center">
          <div class="col-md-5 d-flex justify-content-center">
            <figure class="figure">
              <img src="{{ $image.RelPermalink }}" class="img-fluid figure-image img-h-15"
                width="{{ .Width }}" height="{{ .Height }}" 
                alt="{{ printf "Image for post %s" $title }}" title="{{ $title }}">
              <figcaption class="figure-caption">{{ $title }}</figcaption>
            </figure>
        
          </div>
        </div>
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}